# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ver arquivo e:/dev/Como Organizar Projetos Em React.pdf para melhor detalhe da estrutura das pastas abaixo
src/__mocks__

# src/_assets/
src/_assets/css
src/_assets/fonts
src/_assets/icons
# src/_assets/img
src/_assets/js

# src/_config

src/_environments
src/_environments/__tests__

src/_translate
src/_translate/languages/__tests__

# src/components

# src/constants
src/constants/__tests__

# src/containers
src/containers/__tests__

# o nome da feature pode mudar conforme o avanço do projeto
# src/features
src/features/home/__tests__
src/features/home/components
src/features/home/containers
# src/features/home/pages
src/features/home/pages/__tests__

src/features/about/__tests__
src/features/about/components
src/features/about/containers
# src/features/about/pages
src/features/about/pages/__tests__

src/features/games/__tests__
src/features/games/components
src/features/games/containers
# src/features/games/pages
src/features/games/pages/__tests__

src/features/saleGame/__tests__
src/features/saleGame/components
src/features/saleGame/containers
# src/features/saleGame/pages
src/features/saleGame/pages/__tests__

src/features/achievements/__tests__
src/features/achievements/components
src/features/achievements/containers
# src/features/achievements/pages
src/features/achievements/pages/__tests__

# src/helpers
src/helpers/__tests__

src/utils
src/utils/__tests__